CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

*.pyc
copts/__pycache__/
/bin/*
/lib/*
/build/*
/.vscode/*
/include/dmtimer_config.h
